<div class="col md=6 homepage-buttons">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-lg btn-block sign-in-btn">Sign In</button>
      <button type="button" class="btn btn-primary btn-lg btn-block create-account-btn">Create Account</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
